<nb-layout>

  <!--  <nb-layout-header fixed>-->
  <nb-layout-header>
    <!--     Insert header here -->
    <h2>Flats monitor</h2>
    <div class="ml-auto">
      <ng-container *ngIf="currentUser">
        <nb-actions>
          <nb-action>
            <nb-action icon="power-outline" (click)="logout()"></nb-action>
          </nb-action>
        </nb-actions>
      </ng-container>
    </div>
  </nb-layout-header>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <!--  <nb-layout-footer fixed>-->
  <nb-layout-footer>
    <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
