<div class="d-flex h-100 align-items-center justify-content-center">
  <div style="width: 35rem">
    <nb-card>
      <nb-card-header>
        <h1>Login</h1>
      </nb-card-header>
      <nb-card-body>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="form-control-group pb-4">
            <div class="pb-2">
              <label for="username" class="label">Username:</label>
            </div>
            <input nbInput
                   fullWidth
                   [formControl]="username"
                   id="username"
                   placeholder="Username"
                   fieldSize="large"
                   autofocus="">
            <ng-container *ngIf="submitted && username.errors">
              <p class="caption status-danger"> Username is required! </p>
            </ng-container>
          </div>
          <div class="form-control-group pb-4">
            <div class="pb-2">
              <label for="password" class="label">Password:</label>
            </div>
            <input nbInput
                   fullWidth
                   [formControl]="password"
                   name="password"
                   type="password"
                   id="password"
                   placeholder="Password"
                   fieldSize="large">
            <ng-container *ngIf="submitted && password.errors">
              <p class="caption status-danger"> Password is required! </p>
            </ng-container>
          </div>
          <div class="form-control-group pb-4">
            <nb-checkbox (checkedChange)="setRememberMe($event)">Remember me</nb-checkbox>
          </div>
          <button nbButton fullWidth status="primary" size="large"
                  [disabled]="(submitted && loginForm.invalid) || loading">Log In</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
